<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs")%>
<body>
    <%-include("partials/navigation.ejs")%>
    <div class="card container">
        <div class="card-header">
            <h2>Agregar persona</h2>
        </div>
        <div class="card-body">
            <form action="save" method="POST">
                <div class="mb-3">
                  <label for="id" class="form-label">Cédula</label>
                  <input type="text" class="form-control" name="id" id="id" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="mb-3">
                  <label for="age" class="form-label">Edad</label>
                  <input type="text" class="form-control" name="age" id="age">
                </div>
                <div class="mb-3">
                    <label for="department" class="form-label">Departamento</label>
                    <select id="department" name="department" class="form-select" aria-label="Default select example">
                        <% departments.forEach(department => { %>
                            <option value="<%= department.code %>"><%= department.name %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="town" class="form-label">Ciudad</label>
                        <select id="town" name="town" class="form-select" aria-label="Default select example">
                        <% towns.forEach(town => { %>
                            <option value="<%= town.code %>"><%= town.name %></option>
                        <% }) %>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </div>
    <div>
        <h2>Visualización de personas</h2>
        <table class="table table-dark table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">
                        Cedula
                    </th>
                    <th scope="col">
                        Nombre
                    </th>
                    <th scope="col">
                        Edad
                    </th>
                    <th scope="col">
                        Departamento
                    </th>
                    <th scope="col">
                        Ciudad
                    </th>
                </tr>
            </thead>
            <tbody>
                <%people.forEach(person=>{%>
                    <tr>
                        <td><%=person.id%></td>
                        <td><%=person.name%></td>
                        <td><%=person.age%></td>
                        <td><%=person.department%></td>
                        <td><%=person.town%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</body>
</html>